<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anilist Torrents</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.locker/1.2.1/angular-locker.min.js"></script>
    <script src="/static/index.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="loading" ng-show="loading">
      <img src="/static/loading.gif">
      <h1>Loading</h1>
    </div>

    <div ng-show="!loading">
      <div class="login" ng-show="!user">
        <a href="/login"><h1>Log In with your Anilist account.</h1></a>
        <br>
        <em>This allows us to pull down only the torrents &amp; groups you care about.</em>
      </div>

      <div ng-show="user">
        <div class="title">
          <div class="title-text">
            <h1>Torrents for {{user.display_name}}</h1>
            <br>
            <p class="navbar">
              <a class="btn" ng-class="{'active': only_airing}" ng-click="only_airing=!only_airing">Airing Only</a>
              <a class="btn" ng-class="{'active': only_trusted}" ng-click="only_trusted=!only_trusted">Trusted Only</a>
              <a href="/api/user/{{user.id}}/rss">RSS</a>
              <a href="/logout">Logout</a>
            </p>
          </div>
          <img src="{{user.image_url_med}}">
        </div>

        <div class="show" ng-repeat="show in user.list | filter:acceptable_show | orderBy:'anime.title'" ng-class="{'no-groups': no_groups(show), 'no-episodes': no_episodes(show)}">
          <div class="show-title">
            <a href="http://anilist.co/anime/{{show.anime.id}}">
              <img src="{{show.anime.image_url_lge}}">
              <h1>{{show.anime.title}}</h1>
            </a>
            <div class="show-group" ng-click="show.group=''" ng-class="{'a-plus': show.group.a_plus, 'trusted': show.group.trusted, 'remake': show.group.remake}">
              <strong>{{show.group.name}}</strong>
              <em>{{show.group.downloads | number}}</em>
            </div>
            <em class="no-groups">No groups have subbed this show yet.</em>
            <em class="no-episodes">No unwatched episodes are available yet.</em>
          </div>

          <div class="loading" ng-show="show.loading">
            <img src="/static/loading.gif">
            <h1>Loading</h1>
          </div>

          <div class="loaded" ng-show="!show.loading">
            <div class="show-groups" ng-show="!show.group">
              <div class="show-group" ng-click="show.group=group" ng-repeat="group in show.groups | filter:acceptable_group | orderBy:'name'" ng-class="{'a-plus': group.a_plus, 'trusted': group.trusted, 'remake': group.remake}">
                <strong>{{group.name}}</strong>
                <em>{{group.downloads | number}}</em>
              </div>
            </div>

            <div class="show-episodes" ng-show="show.group">
              <div ng-repeat="episode in show.group.episodes | filter:unwatched | orderBy:'-uploaded'">
                <a class="show-episode" href="{{episode.download}}" ng-class="{'a-plus': episode.a_plus, 'trusted': episode.trusted, 'remake': episode.remake}">
                  <strong>{{episode.name}}</strong>
                  <em>{{episode.downloads | number}}</em>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      Submit feedback on <a href="https://github.com/zodman/anilist-torrents/issues">Github</a> or <a href="https://twitter.com/zodman">Twitter</a> | created by fugiman and forked and edit by zodman
    </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55146433-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
